# Airline DataFrame

In [1]:
%pip install pyspark

Requirement already satisfied: pyspark in ./.venv/lib/python3.10/site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in ./.venv/lib/python3.10/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
#importing pyspark
import pyspark

In [2]:
#importing sparksession
from pyspark.sql import SparkSession

In [3]:
#creating a sparksession object and providing appName 
spark=SparkSession.builder.appName("airline").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/21 15:34:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
#To create dataframe form External datasets
df = spark.read.option("header", "true").csv("data/airlines1.csv")

In [5]:
# for few columns
df.columns[:5]

['_c0', 'Year', 'Quarter', 'Month', 'DayofMonth']

In [6]:
# for all columns
df.columns

['_c0',
 'Year',
 'Quarter',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'FlightDate',
 'Reporting_Airline',
 'DOT_ID_Reporting_Airline',
 'IATA_CODE_Reporting_Airline',
 'Tail_Number',
 'Flight_Number_Reporting_Airline',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'Origin',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'Dest',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'CRSDepTime',
 'DepTime',
 'DepDelay',
 'DepDelayMinutes',
 'DepDel15',
 'DepartureDelayGroups',
 'DepTimeBlk',
 'TaxiOut',
 'WheelsOff',
 'WheelsOn',
 'TaxiIn',
 'CRSArrTime',
 'ArrTime',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrDel15',
 'ArrivalDelayGroups',
 'ArrTimeBlk',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CRSElapsedTime',
 'ActualElapsedTime',
 'AirTime',
 'Flights',
 'Distance',
 'DistanceGroup',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay',
 'FirstDepTime',
 'TotalAddGTime',
 'LongestAddGTime',
 'DivAirportLandings',
 'DivReachedDest',
 'DivActualElapsedTime',
 'DivArrDelay',
 'DivDistance',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1WheelsOn',
 'Div1TotalGTime',
 'Div1LongestGTime',
 'Div1WheelsOff',
 'Div1TailNum',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2WheelsOn',
 'Div2TotalGTime',
 'Div2LongestGTime',
 'Div2WheelsOff',
 'Div2TailNum',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3WheelsOn',
 'Div3TotalGTime',
 'Div3LongestGTime',
 'Div3WheelsOff',
 'Div3TailNum',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4WheelsOn',
 'Div4TotalGTime',
 'Div4LongestGTime',
 'Div4WheelsOff',
 'Div4TailNum',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5WheelsOn',
 'Div5TotalGTime',
 'Div5LongestGTime',
 'Div5WheelsOff',
 'Div5TailNum']

### Create multiple dataframes as per need

In [7]:
Flight_Details = df.select("_c0","Year", "Month", "DayofMonth" , "FlightDate","Tail_Number", "Flight_Number_Reporting_Airline" )

23/08/21 15:34:59 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [8]:
#count total no of flights in each years 
Flight_Details.select('Year').groupBy('Year').count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|  339|
|2016| 1502|
|2020|  462|
|2012| 1519|
|1988| 1310|
|2019| 1900|
|2017| 1449|
|2014| 1513|
|2013| 1690|
|2005| 1812|
|2000| 1477|
|2002| 1371|
|2009| 1604|
|2018| 1862|
|1995| 1377|
|2006| 1900|
|2004| 1847|
|2011| 1551|
|1989| 1288|
|1992| 1335|
+----+-----+
only showing top 20 rows

In [9]:
#count total no of flights in each months
Flight_Details.select('Month').groupBy('Month').count().show()

+-----+-----+
|Month|count|
+-----+-----+
|    7| 4267|
|   11| 3997|
|    3| 4396|
|    8| 4414|
|    5| 4167|
|    6| 4078|
|    9| 3954|
|    1| 4362|
|   10| 4264|
|    4| 3969|
|   12| 4232|
|    2| 3901|
+-----+-----+

In [10]:
#count total no of cancelled flights in each years

In [11]:
df.select('Year').filter("Cancelled = 1").groupBy('Year').count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|    3|
|2016|   17|
|2012|   20|
|2020|   24|
|1988|   15|
|2019|   34|
|2017|   22|
|2014|   31|
|2013|   22|
|2005|   33|
|2000|   42|
|2002|   11|
|2018|   24|
|2009|   19|
|1995|   22|
|2006|   30|
|2004|   29|
|2011|   29|
|1989|   26|
|1992|   14|
+----+-----+
only showing top 20 rows

In [12]:
#count total no of cancelled flights in each months

In [13]:
df.select('Month').filter("Cancelled = 1").groupBy('Month').count().show()

+-----+-----+
|Month|count|
+-----+-----+
|    7|   60|
|   11|   46|
|    3|  106|
|    8|   75|
|    5|   39|
|    6|   60|
|    9|  101|
|    1|  132|
|   10|   57|
|    4|   44|
|   12|   68|
|    2|   90|
+-----+-----+

In [14]:
#count total no of flights By departure airports

In [15]:
df.select('Origin').groupBy('Origin').count().show()

+------+-----+
|Origin|count|
+------+-----+
|   BGM|   11|
|   INL|    1|
|   MSY|  383|
|   GEG|  118|
|   BUR|  222|
|   SNA|  339|
|   GRB|   42|
|   GTF|   27|
|   IDA|   17|
|   GRR|  106|
|   EUG|   34|
|   PSG|   11|
|   GSO|  124|
|   PVD|  141|
|   MYR|   41|
|   OAK|  435|
|   MSN|   81|
|   FAR|   29|
|   COD|    3|
|   FSM|    5|
+------+-----+
only showing top 20 rows

In [16]:
#calculate years wise on time departure flights

In [17]:
df.select('Year').filter("DepDelay <= 0").groupBy('Year').count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|  187|
|2016|  978|
|2012|  949|
|2020|  320|
|1988|  775|
|2019| 1171|
|2017|  911|
|2014|  885|
|2013| 1011|
|2005| 1122|
|2000|  812|
|2002|  891|
|2009|  996|
|2018| 1214|
|1995|  648|
|2006| 1116|
|2004| 1226|
|2011|  955|
|1989|  705|
|1992|  721|
+----+-----+
only showing top 20 rows

In [18]:
#calculate years wise departure delay flights
df.select('Year').filter("DepDelay > 0").groupBy('Year').count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|  149|
|2016|  507|
|2020|  118|
|2012|  551|
|1988|  520|
|2019|  695|
|2017|  516|
|2014|  597|
|2013|  659|
|2005|  657|
|2000|  623|
|2002|  469|
|2018|  622|
|2009|  590|
|1995|  707|
|2006|  754|
|2004|  592|
|2011|  569|
|1989|  557|
|1992|  600|
+----+-----+
only showing top 20 rows

In [19]:
#calculate years wise permormance of flight like on time departure, on time arrival

In [20]:
df.select('Year').filter((df.DepDelay <= 0) & (df.ArrDelay <= 0)).groupBy('Year').count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|   96|
|2016|  840|
|2012|  782|
|2020|  280|
|1988|  474|
|2019|  982|
|2017|  739|
|2014|  726|
|2013|  829|
|2005|  845|
|2000|  579|
|2002|  695|
|2009|  793|
|2018| 1032|
|1995|  444|
|2006|  821|
|2004|  921|
|1989|  453|
|2011|  757|
|1992|  501|
+----+-----+
only showing top 20 rows

In [21]:
Flight_Origin= df.select("_c0","OriginAirportID", "OriginAirportSeqID", "OriginCityMarketID","Origin", "OriginCityName","OriginState", "OriginStateName")

In [22]:
Flight_Destination = df.select("_c0","DestAirportID", "DestAirportSeqID", "Dest", "DestCityName","DestState","DestStateName")

In [23]:
Flight_arr_dep = df.select("_c0","CRSArrTime","ArrTime", "CRSDepTime","DepTime")

In [24]:
DelayDF= df.select("_c0","CarrierDelay","WeatherDelay", "NASDelay","SecurityDelay","LateAircraftDelay")

In [25]:
Flight_cancel = df.select("_c0","Cancelled","CancellationCode","Diverted","Flights")

In [26]:
#modify column name
# to modify multiple column name
#Flight_cancel.withColumnRenamed("_c0","ID").withColumnRenamed("CancellationCode","Code")

In [27]:
Flight_cancel = Flight_cancel.withColumnRenamed("_c0","ID")

In [28]:
Flight_cancel.show()

+---+---------+----------------+--------+-------+
| ID|Cancelled|CancellationCode|Diverted|Flights|
+---+---------+----------------+--------+-------+
|  0|      0.0|            null|     0.0|    1.0|
|  1|      0.0|            null|     0.0|    1.0|
|  2|      0.0|            null|     0.0|    1.0|
|  3|      0.0|            null|     0.0|    1.0|
|  4|      0.0|            null|     0.0|    1.0|
|  5|      0.0|            null|     0.0|    1.0|
|  6|      0.0|            null|     0.0|    1.0|
|  7|      0.0|            null|     0.0|    1.0|
|  8|      0.0|            null|     0.0|    1.0|
|  9|      0.0|            null|     0.0|    1.0|
| 10|      0.0|            null|     0.0|    1.0|
| 11|      0.0|            null|     0.0|    1.0|
| 12|      0.0|            null|     0.0|    1.0|
| 13|      0.0|            null|     0.0|    1.0|
| 14|      0.0|            null|     0.0|    1.0|
| 15|      0.0|            null|     0.0|    1.0|
| 16|      0.0|            null|     0.0|    1.0|
| 17|      0.0|            null|     0.0|    1.0|
| 18|      0.0|            null|     0.0|    1.0|
| 19|      1.0|               A|     0.0|    1.0|
+---+---------+----------------+--------+-------+
only showing top 20 rows

23/08/21 15:35:43 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Cancelled, CancellationCode, Diverted, Flights
 Schema: _c0, Cancelled, CancellationCode, Diverted, Flights
Expected: _c0 but found:
CSV file: file:///home/thanarak/Desktop/PySpark-DataFrame-Operations/data/airlines1.csv

## Data Cleaning
handling null values

In [29]:
Flight_cancel.show()

+---+---------+----------------+--------+-------+
| ID|Cancelled|CancellationCode|Diverted|Flights|
+---+---------+----------------+--------+-------+
|  0|      0.0|            null|     0.0|    1.0|
|  1|      0.0|            null|     0.0|    1.0|
|  2|      0.0|            null|     0.0|    1.0|
|  3|      0.0|            null|     0.0|    1.0|
|  4|      0.0|            null|     0.0|    1.0|
|  5|      0.0|            null|     0.0|    1.0|
|  6|      0.0|            null|     0.0|    1.0|
|  7|      0.0|            null|     0.0|    1.0|
|  8|      0.0|            null|     0.0|    1.0|
|  9|      0.0|            null|     0.0|    1.0|
| 10|      0.0|            null|     0.0|    1.0|
| 11|      0.0|            null|     0.0|    1.0|
| 12|      0.0|            null|     0.0|    1.0|
| 13|      0.0|            null|     0.0|    1.0|
| 14|      0.0|            null|     0.0|    1.0|
| 15|      0.0|            null|     0.0|    1.0|
| 16|      0.0|            null|     0.0|    1.0|
| 17|      0.0|            null|     0.0|    1.0|
| 18|      0.0|            null|     0.0|    1.0|
| 19|      1.0|               A|     0.0|    1.0|
+---+---------+----------------+--------+-------+
only showing top 20 rows

23/08/21 15:35:44 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Cancelled, CancellationCode, Diverted, Flights
 Schema: _c0, Cancelled, CancellationCode, Diverted, Flights
Expected: _c0 but found:
CSV file: file:///home/thanarak/Desktop/PySpark-DataFrame-Operations/data/airlines1.csv

In [30]:
Flight_cancel.na.drop().show()

+----+---------+----------------+--------+-------+
|  ID|Cancelled|CancellationCode|Diverted|Flights|
+----+---------+----------------+--------+-------+
|  19|      1.0|               A|     0.0|    1.0|
| 146|      1.0|               B|     0.0|    1.0|
| 197|      1.0|               C|     0.0|    1.0|
| 554|      1.0|               A|     0.0|    1.0|
| 680|      1.0|               A|     0.0|    1.0|
| 841|      1.0|               A|     0.0|    1.0|
| 905|      1.0|               B|     0.0|    1.0|
| 911|      1.0|               B|     0.0|    1.0|
| 965|      1.0|               B|     0.0|    1.0|
|1082|      1.0|               C|     0.0|    1.0|
|1246|      1.0|               A|     0.0|    1.0|
|1443|      1.0|               B|     0.0|    1.0|
|1450|      1.0|               A|     0.0|    1.0|
|1633|      1.0|               A|     0.0|    1.0|
|1730|      1.0|               B|     0.0|    1.0|
|1773|      1.0|               C|     0.0|    1.0|
|1904|      1.0|               B|     0.0|    1.0|
|1908|      1.0|               B|     0.0|    1.0|
|1913|      1.0|               A|     0.0|    1.0|
|2450|      1.0|               A|     0.0|    1.0|
+----+---------+----------------+--------+-------+
only showing top 20 rows

23/08/21 15:35:44 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Cancelled, CancellationCode, Diverted, Flights
 Schema: _c0, Cancelled, CancellationCode, Diverted, Flights
Expected: _c0 but found:
CSV file: file:///home/thanarak/Desktop/PySpark-DataFrame-Operations/data/airlines1.csv

In [31]:
Flight_cancel.na.drop(how='any').show()

+----+---------+----------------+--------+-------+
|  ID|Cancelled|CancellationCode|Diverted|Flights|
+----+---------+----------------+--------+-------+
|  19|      1.0|               A|     0.0|    1.0|
| 146|      1.0|               B|     0.0|    1.0|
| 197|      1.0|               C|     0.0|    1.0|
| 554|      1.0|               A|     0.0|    1.0|
| 680|      1.0|               A|     0.0|    1.0|
| 841|      1.0|               A|     0.0|    1.0|
| 905|      1.0|               B|     0.0|    1.0|
| 911|      1.0|               B|     0.0|    1.0|
| 965|      1.0|               B|     0.0|    1.0|
|1082|      1.0|               C|     0.0|    1.0|
|1246|      1.0|               A|     0.0|    1.0|
|1443|      1.0|               B|     0.0|    1.0|
|1450|      1.0|               A|     0.0|    1.0|
|1633|      1.0|               A|     0.0|    1.0|
|1730|      1.0|               B|     0.0|    1.0|
|1773|      1.0|               C|     0.0|    1.0|
|1904|      1.0|               B|     0.0|    1.0|
|1908|      1.0|               B|     0.0|    1.0|
|1913|      1.0|               A|     0.0|    1.0|
|2450|      1.0|               A|     0.0|    1.0|
+----+---------+----------------+--------+-------+
only showing top 20 rows

23/08/21 15:35:45 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Cancelled, CancellationCode, Diverted, Flights
 Schema: _c0, Cancelled, CancellationCode, Diverted, Flights
Expected: _c0 but found:
CSV file: file:///home/thanarak/Desktop/PySpark-DataFrame-Operations/data/airlines1.csv

In [32]:
Flight_cancel.na.fill("yes").show()

+---+---------+----------------+--------+-------+
| ID|Cancelled|CancellationCode|Diverted|Flights|
+---+---------+----------------+--------+-------+
|  0|      0.0|             yes|     0.0|    1.0|
|  1|      0.0|             yes|     0.0|    1.0|
|  2|      0.0|             yes|     0.0|    1.0|
|  3|      0.0|             yes|     0.0|    1.0|
|  4|      0.0|             yes|     0.0|    1.0|
|  5|      0.0|             yes|     0.0|    1.0|
|  6|      0.0|             yes|     0.0|    1.0|
|  7|      0.0|             yes|     0.0|    1.0|
|  8|      0.0|             yes|     0.0|    1.0|
|  9|      0.0|             yes|     0.0|    1.0|
| 10|      0.0|             yes|     0.0|    1.0|
| 11|      0.0|             yes|     0.0|    1.0|
| 12|      0.0|             yes|     0.0|    1.0|
| 13|      0.0|             yes|     0.0|    1.0|
| 14|      0.0|             yes|     0.0|    1.0|
| 15|      0.0|             yes|     0.0|    1.0|
| 16|      0.0|             yes|     0.0|    1.0|
| 17|      0.0|             yes|     0.0|    1.0|
| 18|      0.0|             yes|     0.0|    1.0|
| 19|      1.0|               A|     0.0|    1.0|
+---+---------+----------------+--------+-------+
only showing top 20 rows

23/08/21 15:35:45 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Cancelled, CancellationCode, Diverted, Flights
 Schema: _c0, Cancelled, CancellationCode, Diverted, Flights
Expected: _c0 but found:
CSV file: file:///home/thanarak/Desktop/PySpark-DataFrame-Operations/data/airlines1.csv

## apply pyspark windows function

In [33]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

In [34]:
ndf  = Window.partitionBy("OriginState").orderBy("OriginAirportID")
Flight_Origin.withColumn("row_number",row_number().over(ndf)).show()

23/08/21 15:35:46 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateName
 Schema: _c0, OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateName
Expected: _c0 but found:
CSV file: file:///home/thanarak/Desktop/PySpark-DataFrame-Operations/data/airlines1.csv

+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----------+
|  _c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateName|row_number|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----------+
|22201|          12016|           1201601|             32016|   GUM|          Guam, Guam|       null|           null|         1|
|32252|          12016|           1201601|             32016|   GUM|          Guam, Guam|       null|           null|         2|
|47945|          14583|           1458301|             34583|   ROR|Koror, Palau Dist...|       null|           null|         3|
| 4406|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         4|
|11056|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         5|
|11127|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         6|
|17268|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         7|
|19012|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         8|
|20504|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         9|
|21724|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|        10|
|27784|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|        11|
|31525|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|        12|
|39618|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|        13|
|18173|          14955|           1495501|             34955|   SPN|Saipan, Northern ...|       null|           null|        14|
|22928|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        15|
|27212|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        16|
|29420|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        17|
|37516|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        18|
|40192|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        19|
|45635|          15027|           1502701|             34992|   STX|Christiansted, Vi...|       null|           null|        20|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----------+
only showing top 20 rows

In [35]:

# Use rank function
from pyspark.sql.functions import rank
Flight_Origin.withColumn("rank",rank().over(ndf)).show()

23/08/21 15:35:47 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateName
 Schema: _c0, OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateName
Expected: _c0 but found:
CSV file: file:///home/thanarak/Desktop/PySpark-DataFrame-Operations/data/airlines1.csv

+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----+
|  _c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateName|rank|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----+
|22201|          12016|           1201601|             32016|   GUM|          Guam, Guam|       null|           null|   1|
|32252|          12016|           1201601|             32016|   GUM|          Guam, Guam|       null|           null|   1|
|47945|          14583|           1458301|             34583|   ROR|Koror, Palau Dist...|       null|           null|   3|
| 4406|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|11056|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|11127|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|17268|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|19012|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|20504|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|21724|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|27784|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|31525|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|39618|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|18173|          14955|           1495501|             34955|   SPN|Saipan, Northern ...|       null|           null|  14|
|22928|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|27212|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|29420|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|37516|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|40192|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|45635|          15027|           1502701|             34992|   STX|Christiansted, Vi...|       null|           null|  20|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----+
only showing top 20 rows

In [36]:
# sorting dataframe by using sort
Flight_Origin.sort("Origin","OriginState").show()

+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
|  _c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateName|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
|46502|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|38459|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|23780|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|39459|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 1590|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|40523|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|24002|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|42080|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|12518|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|42910|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|24780|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|44533|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5113|          10135|           1013502|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|45933|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|25125|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|46998|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|25502|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5403|          10135|           1013505|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|26066|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|13333|          10135|           1013505|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
only showing top 20 rows

23/08/21 15:35:47 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateName
 Schema: _c0, OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateName
Expected: _c0 but found:
CSV file: file:///home/thanarak/Desktop/PySpark-DataFrame-Operations/data/airlines1.csv

In [37]:
# sorting datafranme by orderby
Flight_Origin.orderBy("Origin","OriginState").show()

+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
|  _c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateName|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
|46502|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|23780|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 1590|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|24002|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|12518|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|24780|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5113|          10135|           1013502|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|25125|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|38459|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|25502|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5403|          10135|           1013505|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|26066|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|13333|          10135|           1013505|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|26118|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5819|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|27478|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|46998|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|27701|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 6277|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|28914|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
only showing top 20 rows

23/08/21 15:35:48 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateName
 Schema: _c0, OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateName
Expected: _c0 but found:
CSV file: file:///home/thanarak/Desktop/PySpark-DataFrame-Operations/data/airlines1.csv

In [38]:
# sort by ascending
#Flight_Origin.sort(Flight_Origin.Origin.asc(),df.OriginState.asc()).show()
#Flight_Origin.orderBy(col("Origin").asc(),col("OriginState").asc()).show()

In [39]:
# sort by desciending 
#Flight_Origin.sort(Flight_Origin.Origin.desc(),df.OriginState.desc()).show()
#Flight_Origin.orderBy(col("Origin").desc(),col("OriginState").desc()).show()

In [40]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col,array_contains

In [41]:
Flight_Destination.show()

+---+-------------+----------------+----+--------------------+---------+--------------+
|_c0|DestAirportID|DestAirportSeqID|Dest|        DestCityName|DestState| DestStateName|
+---+-------------+----------------+----+--------------------+---------+--------------+
|  0|        14869|         1486902| SLC|  Salt Lake City, UT|       UT|          Utah|
|  1|        13204|         1320401| MCO|         Orlando, FL|       FL|       Florida|
|  2|        11298|         1129803| DFW|Dallas/Fort Worth...|       TX|         Texas|
|  3|        11433|         1143301| DTW|         Detroit, MI|       MI|      Michigan|
|  4|        11057|         1105702| CLT|       Charlotte, NC|       NC|North Carolina|
|  5|        14814|         1481401| SHV|      Shreveport, LA|       LA|     Louisiana|
|  6|        11042|         1104201| CLE|       Cleveland, OH|       OH|          Ohio|
|  7|        10868|         1086803| CAE|        Columbia, SC|       SC|South Carolina|
|  8|        11042|         1104201| CLE|       Cleveland, OH|       OH|          Ohio|
|  9|        11259|         1125903| DAL|          Dallas, TX|       TX|         Texas|
| 10|        12892|         1289201| LAX|     Los Angeles, CA|       CA|    California|
| 11|        11259|         1125903| DAL|          Dallas, TX|       TX|         Texas|
| 12|        13303|         1330302| MIA|           Miami, FL|       FL|       Florida|
| 13|        12892|         1289203| LAX|     Los Angeles, CA|       CA|    California|
| 14|        12953|         1295301| LGA|        New York, NY|       NY|      New York|
| 15|        10821|         1082102| BWI|       Baltimore, MD|       MD|      Maryland|
| 16|        13184|         1318402| MBS|Saginaw/Bay City/...|       MI|      Michigan|
| 17|        14747|         1474703| SEA|         Seattle, WA|       WA|    Washington|
| 18|        12264|         1226401| IAD|      Washington, DC|       VA|      Virginia|
| 19|        12892|         1289205| LAX|     Los Angeles, CA|       CA|    California|
+---+-------------+----------------+----+--------------------+---------+--------------+
only showing top 20 rows

23/08/21 15:35:48 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , DestAirportID, DestAirportSeqID, Dest, DestCityName, DestState, DestStateName
 Schema: _c0, DestAirportID, DestAirportSeqID, Dest, DestCityName, DestState, DestStateName
Expected: _c0 but found:
CSV file: file:///home/thanarak/Desktop/PySpark-DataFrame-Operations/data/airlines1.csv

## how to use UDF in pyspark DataFrame

In [42]:
from pyspark.sql.functions import udf

In [43]:
from pyspark.sql.functions import col

In [44]:
#from pyspark.sql.types import StructType, IntegerType, StringType
# as per datatype StructType, IntegerType, StringType in columns we need to import these library 
#otherwise bydefaut it wil take StringType

In [45]:
#create function in python

In [46]:
def destination(str):
    resStr=""
    arr = str.split(",")
    for x in arr:
       resStr= arr[0]
    return resStr

In [47]:
#Converting python function to UDF
destinationUDF = udf(lambda z: destination(z))

In [48]:
df.select(col("Dest"),destinationUDF(col("DestCityName")).alias("DestCityName") ).show(truncate=False)

+----+------------------------+
|Dest|DestCityName            |
+----+------------------------+
|SLC |Salt Lake City          |
|MCO |Orlando                 |
|DFW |Dallas/Fort Worth       |
|DTW |Detroit                 |
|CLT |Charlotte               |
|SHV |Shreveport              |
|CLE |Cleveland               |
|CAE |Columbia                |
|CLE |Cleveland               |
|DAL |Dallas                  |
|LAX |Los Angeles             |
|DAL |Dallas                  |
|MIA |Miami                   |
|LAX |Los Angeles             |
|LGA |New York                |
|BWI |Baltimore               |
|MBS |Saginaw/Bay City/Midland|
|SEA |Seattle                 |
|IAD |Washington              |
|LAX |Los Angeles             |
+----+------------------------+
only showing top 20 rows

In [49]:
Flight_Destination.show()

+---+-------------+----------------+----+--------------------+---------+--------------+
|_c0|DestAirportID|DestAirportSeqID|Dest|        DestCityName|DestState| DestStateName|
+---+-------------+----------------+----+--------------------+---------+--------------+
|  0|        14869|         1486902| SLC|  Salt Lake City, UT|       UT|          Utah|
|  1|        13204|         1320401| MCO|         Orlando, FL|       FL|       Florida|
|  2|        11298|         1129803| DFW|Dallas/Fort Worth...|       TX|         Texas|
|  3|        11433|         1143301| DTW|         Detroit, MI|       MI|      Michigan|
|  4|        11057|         1105702| CLT|       Charlotte, NC|       NC|North Carolina|
|  5|        14814|         1481401| SHV|      Shreveport, LA|       LA|     Louisiana|
|  6|        11042|         1104201| CLE|       Cleveland, OH|       OH|          Ohio|
|  7|        10868|         1086803| CAE|        Columbia, SC|       SC|South Carolina|
|  8|        11042|         1104201| CLE|       Cleveland, OH|       OH|          Ohio|
|  9|        11259|         1125903| DAL|          Dallas, TX|       TX|         Texas|
| 10|        12892|         1289201| LAX|     Los Angeles, CA|       CA|    California|
| 11|        11259|         1125903| DAL|          Dallas, TX|       TX|         Texas|
| 12|        13303|         1330302| MIA|           Miami, FL|       FL|       Florida|
| 13|        12892|         1289203| LAX|     Los Angeles, CA|       CA|    California|
| 14|        12953|         1295301| LGA|        New York, NY|       NY|      New York|
| 15|        10821|         1082102| BWI|       Baltimore, MD|       MD|      Maryland|
| 16|        13184|         1318402| MBS|Saginaw/Bay City/...|       MI|      Michigan|
| 17|        14747|         1474703| SEA|         Seattle, WA|       WA|    Washington|
| 18|        12264|         1226401| IAD|      Washington, DC|       VA|      Virginia|
| 19|        12892|         1289205| LAX|     Los Angeles, CA|       CA|    California|
+---+-------------+----------------+----+--------------------+---------+--------------+
only showing top 20 rows

23/08/21 15:35:58 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , DestAirportID, DestAirportSeqID, Dest, DestCityName, DestState, DestStateName
 Schema: _c0, DestAirportID, DestAirportSeqID, Dest, DestCityName, DestState, DestStateName
Expected: _c0 but found:
CSV file: file:///home/thanarak/Desktop/PySpark-DataFrame-Operations/data/airlines1.csv

In [50]:
spark.stop()